<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <!-- <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="signin-tab-2" data-toggle="tab"  routerLink="/login" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" routerLinkActive="Active" routerLink="/register" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                        </li>
                    </ul> -->
                    <h1 style="align-content: center;" > Edit Profile</h1>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
  
  
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form  [formGroup]="editForm" (ngSubmit)="edit()">
                                <div>
                                    <label for="singin-email-2">First Name</label>
                                    <!-- <input [class.is-invalid]="registerForm.controls.fName.invalid&&registerForm.controls.fName.touched" type="text" class="form-control" formControlName="fName" id="singin-email-2" name="singin-fName" required>
                                  <div *ngIf="registerForm.controls.fName.invalid&&registerForm.controls.fName.touched" class="alert alert-danger my-2">First Name Not Valid</div> -->
                                    <input
                                        [class.is-valid]="editForm.controls['displayname'].valid &&!editForm.controls['displayname'].pristine"
                                        [class.is-invalid]="editForm.controls['displayname'].invalid &&!editForm.controls['displayname'].pristine&&editForm.controls['displayname'].touched"
                                        type="text" class="form-control" formControlName="displayname"
                                        id="singin-email-2" name="singin-fName" required>
                                    <div *ngIf="
                                    editForm.controls['displayname'].invalid &&
                                    editForm.controls['displayname'].touched
                                            ">
                                        <div *ngIf="editForm.controls['displayname'].errors?.['pattern']"
                                            class="alert alert-danger">
                                            Enter Valid Name
                                        </div>
                                        <div *ngIf="editForm.controls['displayname'].errors?.['required']"
                                            class="alert alert-danger">
                                            Name is Required
                                        </div>
                                    </div>
                                </div><!-- End .form-group -->



                          
                                <div >
                                    <label for="register-email-2">Email</label>
                                    <input [class.is-valid]="editForm.controls['email'].valid &&!editForm.controls['email'].pristine"
                                    [class.is-invalid]="editForm.controls['email'].invalid &&!editForm.controls['email'].pristine&&editForm.controls['email'].touched" type="email" class="form-control" formControlName="email"
                                        id="register-email-2" name="register-email" required>
                                        <div *ngIf="
                                        editForm.controls['email'].invalid &&
                                        editForm.controls['email'].touched
                                      ">
                                  <div *ngIf="editForm.controls['email'].errors?.['email']"
                                      class="alert alert-danger">
                                      Enter Valid Email
                                  </div>
                                  <div *ngIf="editForm.controls['email'].errors?.['required']"
                                      class="alert alert-danger">
                                      Email is required
                                  </div>
                              </div>
                                    <!-- <div class="alert alert-danger my-2">Email Not Valid</div> -->
                                </div><!-- End .form-group -->

                                <!-- <div class="mb-3">
                                    <label for="register-password-2">Password</label>
                                    <input  [class.is-valid]="editForm.controls['password'].valid &&!editForm.controls['password'].pristine"
                                    [class.is-invalid]="editForm.controls['password'].invalid &&!editForm.controls['password'].pristine&&editForm.controls['password'].touched" type="password" class="form-control" formControlName="password"
                                        id="register-password-2" name="register-password" required>
                                        <div *ngIf="
                                        editForm.controls['password'].invalid &&
                                        editForm.controls['password'].touched
                                      ">
                                  <div *ngIf="editForm.controls['password'].errors?.['minLength']"
                                      class="alert alert-danger">
                                      Enter Valid Password
                                  </div>
                                  <div *ngIf="editForm.controls['password'].errors?.['required']"
                                      class="alert alert-danger">
                                      Password is required
                                  </div>
                              </div>
                                   
                                </div> -->

                           
                                <div class="mb-3">
                                    <label>Choose gender</label><br>
                                    <label class="radio-inline">
                                        <input  [class.is-valid]="editForm.controls['gender'].valid &&!editForm.controls['gender'].pristine"
                                        [class.is-invalid]="editForm.controls['gender'].invalid &&!editForm.controls['gender'].pristine&&editForm.controls['gender'].touched" type="radio" value="Male" formControlName="gender">
                                        <span>Male</span>
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" value="Female" formControlName="gender">
                                        <span>Female</span>
                                    </label>
                                    <div *ngIf="
                                    editForm.controls['gender'].invalid &&
                                    editForm.controls['gender'].touched
                                  ">
                             
                              <div *ngIf="editForm.controls['gender'].errors?.['required']"
                                  class="alert alert-danger">
                                  Gender is required
                              </div>
                          </div>

                                </div>


                                <div class="mb-3">
                                    <input type="file" accept="image/*" formControlName="image" (change)="imgePreview()"
                                        placeholder="image">
                                </div>
                                <div class="image-wrapper mt-1">
                                    <img src="{{editForm.value.image}}" alt="" width="400" height="100">
                                </div>

  
  
                                <div class="form-footer">
                                    <button type="submit"  class="btn btn-outline-primary-2">
                                        <span>Edit</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
  
                                
                                </div>
                            </form>
                          
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
  </main><!-- End .main -->
  