<div class="container">
<div class="page-wrapper pt-7">


  <main class="main">
      

      <div class="page-content">
          <div class="container">
              <div class="product-details-top mb-2">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="product-gallery">
                              <figure class="product-main-image">
                                  <img id="product-zoom" [src]="product.image"
                                  data-zoom-image="{assets/images/products/single/extended/3-big.jpg}" alt="product image">

                                  <!-- <a  id="btn-product-gallery" class="btn-product-gallery">
                                      <i class="icon-arrows"></i>
                                  </a> -->
                              </figure><!-- End .product-main-image -->

                              <!-- <div id="product-zoom-gallery" class="product-image-gallery">
                                  <a class="product-gallery-item"  data-image="assets/images/products/single/extended/1.jpg" data-zoom-image="assets/images/products/single/extended/1-big.jpg">
                                      <img [src]="product.image" alt="product side">
                                  </a>

                                  <a class="product-gallery-item"  data-image="assets/images/products/single/extended/2.jpg" data-zoom-image="assets/images/products/single/extended/2-big.jpg">
                                      <img [src]="product.image" alt="product cross">
                                  </a>

                                  <a class="product-gallery-item active"  data-image="assets/images/products/single/extended/3.jpg" data-zoom-image="assets/images/products/single/extended/3-big.jpg">
                                      <img [src]="product.image" alt="product with model">
                                  </a>

                                  <a class="product-gallery-item" data-image="assets/images/products/single/extended/4.jpg" data-zoom-image="assets/images/products/single/extended/4-big.jpg">
                                      <img [src]="product.image" alt="product back">
                                  </a>

                              </div> -->
                          </div><!-- End .product-gallery -->
                      </div><!-- End .col-md-6 -->

                      <div class="col-md-6">
                          <div class="product-details" style="    margin-top: 54px;
                          padding: 15px;">
                              <h1 class="product-title">{{product.title}}</h1><!-- End .product-title -->

                              <div class="ratings-container">
                                  <div class="ratings">
                                      <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                  </div><!-- End .ratings -->

                              </div><!-- End .rating-container -->
                              <ng-container *ngIf="!product.offer">
                                <div class="product-price">
                                  {{product.price|currency}}
                                </div><!-- End .product-price -->
                              </ng-container>
  
                              <ng-container *ngIf="product.offer">
                                <div class="row">
                                  <p ><span class="product-price">{{(this.product.price-(this.product.price*this.product.offer))|currency}}</span><s>{{product.price|currency}}</s> </p>
                              </div>
                              </ng-container>
                              <!-- <div class="product-price">
                                {{product.price|currency}}
                              </div> -->

                              <div class="product-content">
                                  <p>{{product.description}} </p>
                              </div><!-- End .product-content -->


                              <div class="details-filter-row details-row-size">
                                  <label for="size">Size:</label>
                                  <div class="select-custom">
                                      <select name="size" id="size" class="form-control">
                                          <option value="#" selected="selected">Select a size</option>
                                          <option value="s">Small</option>
                                          <option value="m">Medium</option>
                                          <option value="l">Large</option>
                                          <option value="xl">Extra Large</option>
                                      </select>
                                  </div><!-- End .select-custom -->


                              </div><!-- End .details-filter-row -->

                              <!-- <div class="details-filter-row details-row-size">
                                  <label for="qty">Quantity:</label>
                                  <div class="product-details-quantity">
                                      <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                  </div>
                              </div> -->

                              <div   class="product-details-action ">
                                <button  *ngIf="product.quantity>0" (click)="addItemToBasket(product)" class="btn-product btn-cart"><span>add to cart</span></button>
                                <button  *ngIf="product.quantity<=0" (click)="outOfStock()" class="btn-product customBtn"><span>Out Of Stock</span></button>
                                  <div class="details-action-wrapper">
                                      <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                      <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a>
                                  </div><!-- End .details-action-wrapper -->
                              </div><!-- End .product-details-action -->


                          </div><!-- End .product-details -->
                      </div><!-- End .col-md-6 -->
                  </div><!-- End .row -->
              </div><!-- End .product-details-top -->
          </div><!-- End .container -->
      </div>


  </main>


</div>
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<div class="mobile-menu-overlay"></div>
<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
          <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>

      <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
  </div><!-- End .mobile-menu-wrapper -->
</div>

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="icon-close"></i></span>
              </button>

              <div class="form-box">
                  <div class="form-tab">
                      <ul class="nav nav-pills nav-fill" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                          </li>
                      </ul>
                      <div class="tab-content" id="tab-content-5">
                          <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                              <form action="#">
                                  <div class="form-group">
                                      <label for="singin-email">Username or email address *</label>
                                      <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                  </div><!-- End .form-group -->

                                  <div class="form-group">
                                      <label for="singin-password">Password *</label>
                                      <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                  </div><!-- End .form-group -->

                                  <div class="form-footer">
                                      <button type="submit" class="btn btn-outline-primary-2">
                                          <span>LOG IN</span>
                                          <i class="icon-long-arrow-right"></i>
                                      </button>

                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="signin-remember">
                                          <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                      </div><!-- End .custom-checkbox -->

                                      <a href="#" class="forgot-link">Forgot Your Password?</a>
                                  </div><!-- End .form-footer -->
                              </form>
                              <div class="form-choice">
                                  <p class="text-center">or sign in with</p>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <a href="#" class="btn btn-login btn-g">
                                              <i class="icon-google"></i>
                                              Login With Google
                                          </a>
                                      </div><!-- End .col-6 -->
                                      <div class="col-sm-6">
                                          <a href="#" class="btn btn-login btn-f">
                                              <i class="icon-facebook-f"></i>
                                              Login With Facebook
                                          </a>
                                      </div><!-- End .col-6 -->
                                  </div><!-- End .row -->
                              </div><!-- End .form-choice -->
                          </div><!-- .End .tab-pane -->
                          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                              <form action="#">
                                  <div class="form-group">
                                      <label for="register-email">Your email address *</label>
                                      <input type="email" class="form-control" id="register-email" name="register-email" required>
                                  </div><!-- End .form-group -->

                                  <div class="form-group">
                                      <label for="register-password">Password *</label>
                                      <input type="password" class="form-control" id="register-password" name="register-password" required>
                                  </div><!-- End .form-group -->

                                  <div class="form-footer">
                                      <button type="submit" class="btn btn-outline-primary-2">
                                          <span>SIGN UP</span>
                                          <i class="icon-long-arrow-right"></i>
                                      </button>

                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                          <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .form-footer -->
                              </form>
                              <div class="form-choice">
                                  <p class="text-center">or sign in with</p>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <a href="#" class="btn btn-login btn-g">
                                              <i class="icon-google"></i>
                                              Login With Google
                                          </a>
                                      </div><!-- End .col-6 -->
                                      <div class="col-sm-6">
                                          <a href="#" class="btn btn-login  btn-f">
                                              <i class="icon-facebook-f"></i>
                                              Login With Facebook
                                          </a>
                                      </div><!-- End .col-6 -->
                                  </div><!-- End .row -->
                              </div><!-- End .form-choice -->
                          </div><!-- .End .tab-pane -->
                      </div><!-- End .tab-content -->
                  </div><!-- End .form-tab -->
              </div><!-- End .form-box -->
          </div><!-- End .modal-body -->
      </div><!-- End .modal-content -->
  </div><!-- End .modal-dialog -->
</div>
</div>