<!-- <div class="container mt-10">
  <div class="text-center">
    <h2 class="text-danger">Delete Product</h2>
  </div>
  <div class="col-7 offset-2">


    <form #form1="ngForm"  (ngSubmit)="saveAfterEdit()">
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Product id</label>
        <div class="col-sm-9">
          <input type="text" disabled="" name="Id" [(ngModel)]="product.Id" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Product Title</label>
        <div class="col-sm-9">
          <input type="text" disabled="" name="title" [(ngModel)]="product.title" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Product Price</label>
        <div class="col-sm-9">
          <input type="text" disabled="" name="price" [(ngModel)]="product.price" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Product Description</label>
        <div class="col-sm-9">
          <input type="text" disabled="" name="description" [(ngModel)]="product.description" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">image Url</label>
        <div class="col-sm-9">
          <input type="file" disabled="" name="imageUrl" [(ngModel)]="product.imageUrl" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Category Id</label>
        <div class="col-sm-9">
          <input type="text" disabled="" name="categoryId" [(ngModel)]="product.categoryId" class="form-control" id="title">
        </div>
      </div>
      <div class="form-group row">

        <div class="col-sm-7 text-light offset-5">
          <input type="submit" value="Save" class="btn btn-outline-primary-2 btn-round btn-more">
        </div>
      </div>
    </form>
  </div>
  <div class="col-3"></div>

</div>

 -->
