
      <footer class="footer footer-custom">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <img
                    src="assets/images/logo.png"
                    class="footer-logo"
                    alt="Footer Logo"
                    width="105"
                    height="25"
                  />
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

             
                </div>
                <!-- End .widget about-widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Profile</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->
              <div class="col-sm-12">
                <div
                _ngcontent-fdj-c16=""
                class="social-icons pb-1 social-icons-colored justify-content-center"
              >
                <a
                  _ngcontent-fdj-c16=""
                  href="#"
                  title="Facebook"
                  target="_blank"
                  class="social-icon social-facebook"
                  ><i _ngcontent-fdj-c16="" class="icon-facebook-f"></i></a
                ><a
                  _ngcontent-fdj-c16=""
                  href="#"
                  title="Twitter"
                  target="_blank"
                  class="social-icon social-twitter"
                  ><i _ngcontent-fdj-c16="" class="icon-twitter"></i></a
                ><a
                  _ngcontent-fdj-c16=""
                  href="#"
                  title="Instagram"
                  target="_blank"
                  class="social-icon social-instagram"
                  ><i _ngcontent-fdj-c16="" class="icon-instagram"></i></a
                ><a
                  _ngcontent-fdj-c16=""
                  href="#"
                  title="Youtube"
                  target="_blank"
                  class="social-icon social-youtube"
                  ><i _ngcontent-fdj-c16="" class="icon-youtube"></i></a
                ><a
                  _ngcontent-fdj-c16=""
                  href="#"
                  title="Pinterest"
                  target="_blank"
                  class="social-icon social-pinterest"
                  ><i _ngcontent-fdj-c16="" class="icon-pinterest"></i
                ></a>
              </div>
              </div>
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © 2022 Molla Store. All Rights Reserved.
            </p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            <!-- End .footer-payments -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
      </footer>
